*.tfstate
*.tfstate.*

*.tfstate.backup

*.tfplan

**/.terraform/*

.terraformrc
terraform.rc

override.tf
override.tf.json
*_override.tf
*_override.tf.json

*.tfvars
*.tfvars.json

crash.log
terraform-log.txt